html, body {
    height: 100%;
    margin: 0;
}

hr {
    margin: auto;
    width: 40%;
}

input[type=submit] {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    color: rgb(15, 25, 25);

    -webkit-appearance: none;
}

.filtered {
    -webkit-filter: grayscale(100%);
    filter: 100%;
}

.bg-img {
    background-image: url('https://res.cloudinary.com/kevinweekes/image/upload/v1489534673/gbrbigpll7g-jean-gerber_q58k27.jpg');
    max-width: 100%; 
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: rgba(255, 255, 255, 1);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;
}

.top-left {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#_counter {
    font-size: 30px;
}