h1 {
    height: 2em;
}
h2 {
    text-align: center;
}

button {
    border: none;
    display: inline-block;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: #000;
}

img {
    width: 18.75em;
    height: 10em;
    margin-right: 1em;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
}

button:hover, a:hover {
    opacity: 0.7;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: -1em 0 1em -1em;
}

.row > .column {
    /*width: 32%;*/
    padding: 1em 0 0 1em;
    flex: 1;
}

.row--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
}

.row--guttersLg > .column {
    padding: 1.5em 0 0 1.5em;
}

.row--guttersXl {
    margin: -2em 0 2em -2em;
}

.row--guttersXl > .column {
    padding: 2em 0 0 2em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: rgb(115, 135, 135);
    font-size: 18px;
}

.social {
    margin: 24px 0;
}

@media (--break-sm) {
    .small-row--gutters {
        margin: -1em 0 1em -1em;
    }

    .small-row--gutters > .column {
        padding: 1em 0 0 1em;
    }

    .small-row--guttersLg {
        margin: -1.5em 0 1.5em -1.5em;
    }

    .small-row--guttersLg > .column {
        padding: 1.5em 0 0 1.5em;
    }

    .small-row--guttersXl {
        margin: -2em 0 2em -2em;
    }

    .small-row--guttersXl > .column {
        padding: 2em 0 0 2em;
    }
}